<!DOCTYPE html>
<html>
<head>
	<title>Ash - About</title>
	<link rel="stylesheet" type="text/css" href="/styles/other.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="background"></div>
	<nav>
		<ul>
			<li><a href="/home"><span>H</span>ome</a></li>
			<li><a href="/about"><span>A</span>bout</a></li>
			<li><a href="/portfolio"><span>P</span>ortfolio</a></li>
			<li><a href="/interests"><span>I</span>nterests</a></li>
			<li><a href="/contact"><span>C</span>ontact</a></li>
		</ul>
	</nav>
	<div id="socialMedia">
		<ul>
			<li><a href="https://www.facebook.com"><img src="images/fb.png"></a></li>
			<li><a href="https://www.twitter.com"><img src="images/twt.png"></a></li>
			<li><a href="https://www.youtube.com"><img src="images/yt.png"></a></li>
			<li><a href="https://www.instagram.com"><img src="images/ig.png"></a></li>
			<li><a href="https://www.github.com"><img src="images/git.png"></a></li>
		</ul>
	</div>
		<div id="about">
		<h1><i>A few things about me...</i></h1>
		<p>Working as a QA professional for about 3 years now. It's my job to maintain the highest integrity possible for each one of our product</p>
		<p>During free times I like to design websites and play my guitar. I'm also into competative PC gaming.</p>
		<p>My favorite subject is astronomy. Something about the space always intrigued me. Especially when they talk about multi-verse theory, I get goosebumps.</p>
		<p>At some point I would like to become a Full Stack Developer.</p>
	</div>
</body>
</html>