<!DOCTYPE html>
<html>
<head>
	<title>Ash - Portfolio</title>
	<link rel="stylesheet" type="text/css" href="/styles/other.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="background"></div>
	<nav>
		<ul>
			<li><a href="/home"><span>H</span>ome</a></li>
			<li><a href="/about"><span>A</span>bout</a></li>
			<li><a href="/portfolio"><span>P</span>ortfolio</a></li>
			<li><a href="/interests"><span>I</span>nterests</a></li>
			<li><a href="/contact"><span>C</span>ontact</a></li>
		</ul>
	</nav>
	<div id="socialMedia">
		<ul>
			<li><a href="https://www.facebook.com"><img src="images/fb.png"></a></li>
			<li><a href="https://www.twitter.com"><img src="images/twt.png"></a></li>
			<li><a href="https://www.youtube.com"><img src="images/yt.png"></a></li>
			<li><a href="https://www.instagram.com"><img src="images/ig.png"></a></li>
			<li><a href="https://www.github.com"><img src="images/git.png"></a></li>
		</ul>
	</div>
	<div id="portfolio">
		<h1><i>COMING SOON!!</i></h1>
	</div>
</body>
</html>